@font-face {
  font-family: "iconfont"; /* Project id 4225561 */
  src: url('iconfont.woff2?t=1693555077214') format('woff2'),
       url('iconfont.woff?t=1693555077214') format('woff'),
       url('iconfont.ttf?t=1693555077214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzhonghao:before {
  content: "\e735";
}

.icon-gongzhonghao1:before {
  content: "\e653";
}

.icon-shipin:before {
  content: "\e76c";
}

.icon-Tiktok:before {
  content: "\e721";
}

.icon-zhusu:before {
  content: "\e646";
}

.icon-canting:before {
  content: "\e64f";
}

.icon-iconfontxiangjiaosuliao:before {
  content: "\e643";
}

.icon-iconfontfuwushichang:before {
  content: "\e64d";
}

.icon-kongzhonghuayuan:before {
  content: "\e624";
}

